<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Çasgem PizzaPan</title>

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Spartan:400,500,600,700,900&display=swap" rel="stylesheet">
    <!-- //Web-Fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/pizzapan-starter/assets/css/style-starter.css">
</head>