
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AddProduct</h1>


@*<form method="post">
    <label>Ürün Adı Adı</label>
    <input asp-for="ProductName" class="form-control" />
    <label>Kategori Adı</label>
    <input asp-for="ProductName" class="form-control" />
    <label>Kategori Adı</label>
    <input asp-for="ProductName" class="form-control" />

    <button class="btn btn-info">Kaydet</button>
</form>*@